.sm-rl { background-image:url(page_refresh.png); }
.sm-cl { background-image:url(page_white_delete.png); }
.sm-me { background-image:url(overlays.png); }
.sm-ac { background-image:url(application_add.png); }
